:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 450;

  color: black;
  background: linear-gradient(to right, purple, blueviolet);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flex-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
}

#début {
  text-align: center;
}

#about {
  background-color: rgb(41, 144, 175);
  border: solid #3325ad;
}

#projets {
  background-color: rgb(49, 128, 55);
  border: solid #33691e;
}

#compétences {
  background-color: rgb(194, 78, 58);
  border: solid #812509;
}

#contact{
  background-color: rgb(98, 27, 165);
  border: solid #450d5f;
}

.sidebar {
  top: 0%;
  left: 0;
  margin: 0;
  width: 11.2vw;
  background-color: #28207b;
  padding: 1rem;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar nav ul {
  top: 100;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  
}

.sidebar nav ul li a i {
  margin-right: 0.2rem;
}

.sidebar nav ul li a:hover {
  color: pink;
}

main {
  margin-left: 11%;
  padding: 3rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background-color: bisque;
  border: 1px solid black;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: bisque;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}